<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="{%static 'images/PassMate_Logo.png' %}" alt="Description of Image">
    <title>Passwarrior</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Passwarrior.css' %}"> 
    <script src="{% static 'javascript/Javascriptpass.js' %}"></script>

</head>
<body>
    <h1>-  -  -  -  Passwarrior  -  -  -  -</h1>
    <div style="margin-bottom: 30px;">
        <h2> <span style="margin-right: 60px;">Is your password strong enough?</span>
            Has your password been compromised?
        </h2>
    </div>

     <div style="margin-bottom: 50px;">
        <h3>Enter a password to check it's strength, verify if it has appeared in any data leaks, and receive additonal feedback.</h3>
    </div>
    <form onsubmit="return false;">

        <input type="text" id="pass" name="pass" placeholder="Enter Password:" required>
        <div style="margin-bottom: 15px;"></div>
        <button type="button" onClick="getPassword()">Enter </button>
    </form>

    <div class="flex-parent">
    <div class="flex-container">
    <div id ="Summary"></div>
    <div id ="DataDisplay"></div>
    </div>

    <div class="flex-container">
    <div id ="Dataleaks"></div>
    <div id ="Datainfo"></div>
    </div>
    </div>
    
    <div class="flex-parent">
    <div class="flex-container">
    <div id ="Suggestions"></div>
    <div id ="Suggestioninfo"></div>
    </div>

    <div class="flex-container">
        <div id ="Generalinfo"></div> 
        <div id ="InfoOutput"></div> 

    </div>
</div>
    

    <div id="outputElement"></div>

    <script>
        

        function getPassword() {
        var password = document.getElementById("pass").value;
        document.getElementById("Summary").innerHTML = "Hours to Crack:";
        document.getElementById("Suggestions").innerHTML = "Suggestions:";
        document.getElementById("Dataleaks").innerHTML = "Data Leaks:";
        document.getElementById("Generalinfo").innerHTML = "General Info:";
        document.getElementById("InfoOutput").innerHTML = "Placeholder";

        console.log(sendData(password));

        function scrollDown() {
            let position = 0;
            let target = document.body.scrollHeight;
            let interval = setInterval(() => {
                if (position >= target) {
                    clearInterval(interval);
                } else {
                    position += 13; // Adjust speed
                    window.scrollTo(0, position);
                }
            }, 7); // Adjust time delay
        }

        scrollDown();
        

    }

        

        

        
        
        





    </script>

        


            
</body>
</html>