<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="{%static 'images/PassMate_Logo.png' %}" alt="Description of Image">
    <title>Passwarrior</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Passwarrior.css' %}"> 
</head>
<body>
    <h1>-  -  -  -  Passwarrior  -  -  -  -</h1>
    <div style="margin-bottom: 30px;">
        <h2> <span style="margin-right: 60px;">Is your password strong enough?</span>
            Has your password been compromised?
        </h2>
    </div>

     <div style="margin-bottom: 50px;">
        <h3>Enter a password to check it's strength, verify if it has appeared in any data leaks, and receive additonal feedback.</h3>
    </div>
    <form>
        <input type="text" id="pass" name="pass" placeholder="Enter Password:" required>
        <div style="margin-bottom: 15px;"></div>
        <button type="button" onClick="getPassword()">Enter </button>
    </form>
    <div id ="Summary"></div>
    <div id ="DataDisplay"></div>
    <br><br><br><br><br><br>
    <div id ="Dataleaks"></div>
    <div id ="Datainfo"></div>
    <br><br><br><br><br><br>
    <div id ="Suggestions"></div>
    <div id ="Suggestioninfo"></div>

    <script>
        function getPassword() {
        var password = document.getElementById("pass").value;
        document.getElementById("Summary").innerHTML = "Summary:";
        document.getElementById("DataDisplay").innerHTML = "Password Strenght:" + password;
        document.getElementById("Dataleaks").innerHTML = "Data Leaks:";
        document.getElementById("Datainfo").innerHTML = "Your password has appeared in" + password; + "data leaks"
        document.getElementById("Suggestions").innerHTML = "Suggestions:";
        document.getElementById("Suggestioninfo").innerHTML = "place holder"

        window.scrollBy(0, 1); // Move down 1 pixel
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                setTimeout(() => {
                    window.scrollTo({ top: 0, behavior: "smooth" }); // Scroll back to top smoothly
                    requestAnimationFrame(smoothScroll); // Restart scrolling
                }, 1000);
            } else {
                requestAnimationFrame(smoothScroll); // Continue scrolling
            }
        }
        
        





    </script>

        


            
</body>
</html>